.reload-buttons {
	float:right;
	margin-top: -20px;
}

.ui-icon-ajaxload {
	background-image: url("http://code.jquery.com/mobile/1.4.0/images/ajax-loader.gif") ! important;
	background-size: 1.75em 1.75em ! important;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) {
	.ui-icon-ajaxload {
		background-image: url("http://code.jquery.com/mobile/1.4.0/images/ajax-loader.gif") ! important;
		background-size: 1.75em 1.75em ! important;
	}
}